* {
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: rgb(212, 210, 174);
    margin: 0;
    height: 640px;
    width: 970px;
}

#header {
    background-color: rgb(36, 80, 118);
    text-align: center;
    padding: 25px 10px 15px 10px;
}